<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Temlpate</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" type="text/css" href="banner.css">
   <link rel="stylesheet" type="text/css" href="banner-responsive.css">
</head>
<body>
   
   <header>
   	 <div class="head"> 
   	 	<div>
   	 		<span><i class='bx bx-phone bx-tada ml-4' ></i></span>
   	 	    <a href="#">+01234568910</a>

   	 	    <span><i class='bx bx-envelope bx-tada bx-rotate-180 ml-4' ></i></span>
   	 	    <a href="#" class="">Contact@ulik.com</a>
   	 	</div>

   	 	<button class="btn_banner" type="button">Get a Schedule</button>
   	 </div>

   </header>

</body>
</html>